.wrapper-home {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 13.125rem 1fr 1fr 20.313rem;
  grid-template-areas:
    "sidebar create create meetups"
    "tags list list meetups"
    ". list list podcasts";

  align-content: start;
}

.sidebar {
  display: grid;
  grid-area: sidebar;
}

.tags {
  display: grid;
  grid-area: tags;
}

.create {
  display: grid;
  grid-area: create;
  height: 20px;
}

.list {
  display: grid;
  grid-area: list;
  margin-top: -4.8rem;
}

.meetups {
  display: grid;
  grid-area: meetups;
}

.podcasts {
  display: grid;
  grid-area: podcasts;
  margin-top: -12.4rem;
}

@media (max-width: 1024px) {
  .wrapper-home {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar sidebar"
      "create create"
      "list list"
      "meetups podcasts";
  }
  .tags {
    display: none;
  }

  .podcasts {
    margin-top: 0;
  }
  .list {
    margin-top: 0;
  }
}

@media (max-width: 590px) {
  .wrapper-home {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "create"
      "list"
      "meetups"
      "podcasts";
  }
}
