.wrapper-home {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 13.125rem 1fr 1fr 20.313rem;
  grid-template-areas:
    "sidebar create create meetups"
    "tags list list podcasts"
    ". list list .";

  align-content: start;
}

.sidebar {
  display: grid;
  grid-area: sidebar;
}

.tags {
  display: grid;
  grid-area: tags;
  margin-top: -21rem;
}

.create {
  display: grid;
  grid-area: create;
}

.list {
  display: grid;
  grid-area: list;
  margin-top: -26rem;
}

.meetups {
  display: grid;
  grid-area: meetups;
}

.podcasts {
  display: grid;
  grid-area: podcasts;
}

@media (max-width: 1024px) {
  .wrapper-home {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar sidebar"
      "create create"
      "list list"
      "meetups podcasts";
  }

  .tags {
    display: none;
  }

  .list {
    margin-top: 0;
  }

  .create {
    margin-top: -1.4rem;
  }
}

@media (max-width: 590px) {
  .wrapper-home {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "create"
      "list"
      "meetups"
      "podcasts";
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.sidebar,
.meetups {
  position: sticky;
  top: 4rem;
}

.tags {
  position: sticky;
  top: 17rem;
}

.podcasts {
  position: sticky;
  top: 38rem;
}